@mixin arrange {
    display : flex; 
     justify-content: center ;
     align-items: center;
     margin-right: 5px;
}
*{
    margin : 0;
    padding : 0 ; 
}
body , html {
    height : 100%;
    width: 100%;
 
 }
 header {
     
     height: 7%;
     background: rgb(198, 199, 201);
 }
 .boardIcon{
     width : 10%;
     height : 7%;
     position : absolute;
     top : 0;
     right : 0;
     display : flex;
     align-items:center ;
     flex-direction: row;
    
   
 }
 .newBoard{
     @include arrange(); 
     width : 150px;
     height : 30px; 
     background-color:black  ;
     border-radius : 20px;
     color : white ;

 }

 .plusicon{
     @include arrange ();
     width : 30px;
     height : 30px;
     margin-right: 10%;
     background-color: red ;
     border-radius: 100%;


 }