@mixin arrange {
    display : flex; 
     justify-content: center ;
     align-items: center;
     margin-right: 5%;
}
*{
    margin : 0;
    padding : 0 ; 
}
body , html {
    height : 100%;
    width: 100%;
 
 }
 header {
     
     height: 9%;
     background: rgb(213, 216, 224);
 }
 .boardIcon{
     width: 10%;
     height : 9%;
     position : absolute;
     top : 0;
     right : 0;
     display : flex;
     align-items:center ;
     flex-direction: row;
    
   
 }
 .newBoard{
     @include arrange(); 
     width : 80%;
     height : 70%; 
     background-color:rgb(0, 0, 0)  ;
     border-radius : 20px;
     color : white ;

 }

 .plusicon{
     @include arrange ();
     width : 35%;
     height : 65%;
     margin-right: 10%;
     background-color: #FEAEAE ;
     border-radius: 100%;
     font-size: 200%;

 }

 button{
    cursor: pointer;
 }
 #boardList{
     margin-left: 10%;
     height: 4%;
     width: 80%;
     position: absolute ;
     top:5%;
     
     
 }
 
 //if you want to delete the border of the buttons 
 /*button {
    border: none;
 }*/
 

